* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php
# Auto-detectar archivos de texto y manejar finales de línea automáticamente
* text=auto eol=lf

/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
