.sidebar {
    background-color: #7e4b92;
    height: 100%;
    min-height: 100vh;
}

.sidebar .nav-link {
    color: white;
    transition: background-color 0.5s;
}

.sidebar .nav-link:hover {
    background-color: #ffffff20;
}

.table {
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 4px; /* Bordes ligeramente redondeados */
    overflow: hidden; /* Evitar que el contenido sobresalga */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.table thead th {
    background-color: #6f42c1; /* Color morado exacto del header */
    color: white; /* Texto blanco */
    font-weight: 600; /* Peso medio para el texto */
    text-align: center;
    padding: 10px; /* Espaciado interno */
    vertical-align: middle;
}

.table tbody tr {
    border-bottom: 1px solid #eee; /* Línea divisoria sutil */
    transition: background-color 0.2s; /* Transición más rápida */
}

.table tbody tr:hover {
    background-color: #f9f9f9; /* Fondo ligeramente más claro al pasar el mouse */
}

.table tbody td {
    padding: 10px; /* Espaciado interno */
    border-top: 1px solid #ddd; /* Línea divisoria entre filas */
    text-align: center; /* Centrar contenido */
}

.titlebar-commands {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.btn-menu {
    display: block;
    padding: 2rem;
    margin: 0.5rem;
    background-color: #ac92b3;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
}
