.sidebar {
    background-color: #7e4b92;
    height: 100%;
    min-height: 100vh;
}

.sidebar .nav-link {
    color: white;
    transition: background-color 0.5s;
}

.sidebar .nav-link:hover {
    background-color: #ffffff20;
}

.table thead th {
    background-color: #ac92b3;
    vertical-align: middle;
    text-align: center;
}

.table {
    border: #ac92b3;
}

.titlebar-commands {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.btn-menu {
    display: block;
    padding: 2rem;
    margin: 0.5rem;
    background-color: #ac92b3;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
}
